.hidedSidebar > aside {
	width: 3.8rem;
	flex-grow: 0;
}

.hidedSidebar > aside > nav > div:first-child {
	opacity: 0;
	transition: 0.3s;
}

.hidedSidebar > div {
	width: 100%;
}

.showedSidebar > aside {
	width: var(--sidebar-width);
}

.initialSidebar > aside {
	transition: width 0.35s;
}
