@import 'tailwindcss';

:root {
	--sidebar-width: 15rem;
}

@theme {
	--color-primary: #ef4444;
	--color-bg: #191b28;
	--color-border: #2a3439;

	--padding-layout: 1.2rem;
}

body {
	color: white;
	background-color: var(--color-bg);
	font-size: 1rem;
	line-height: 1.5rem;
}
